.button {
    padding: .8rem 1.2rem;
    margin-right: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--gainsboro-20);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
