.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 .5rem;
    background-color: var(--black);
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0;
    color: var(--white);
    font-weight: bold;
}

.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__link {
    display: block;
    padding: 0 10px 0 10px;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    text-align: left;
}

.nav__link--logo {
    padding-left: 0px;
}

.nav__link--active {
    color: var(--venetian-red);
}

.nav__dropdown {
    display: flex;
    align-items: center;
    list-style: none;
}

.logo {
    width: auto;
    max-height: 30px;
    margin: 0 10px 0 0;
}

.icon--small {
    height: 40px;
}

@media (min-width: 768px) {
    .nav {
        padding: 0 2rem;
    }
}